<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Exam Information</h3>
                <div class="card-tools">
                  <button class="btn btn-success" @click="newModal"
                  data-toggle="modal" data-target="#addnewCenter">Add new Exam<i class="fas fa-user-plus fa-fw" ></i> 
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="mb-3">
                  <div class="row">
                    <div class="col-md-2">
                        <strong >Search By : </strong>
                    </div>
                    <div class="col-md-3">
                        <select v-model="query_field" class="form-control" id="fileds" placeholder="Select Field">
                            <option value="name">Name</option>
                            <option value="code">Code</option>
                            <option value="date">Exam Date</option>
                            <option value="department">Department</option>
                            <option value="room">Room</option>
                            <option value="subject">Subject Name</option>
                            <option value="section">Section</option>
                            <option value="semester">Semester</option>
                            <option value="year">Academic Year</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input v-model="query" type="text" class="form-control" placeholder="Search">
                    </div>
                  </div>
                </div>
                <div class="table-responsive p-0" >
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Exam Date</th>
                        <th>Department</th>
                        <th>Room</th>
                        <th>Subject</th>
                        <th>Semester</th>
                        <th>Academic Year</th>
                        <th>Modify</th>
                      </tr>
                      <tr v-for="exam in exams" :key="exam.id">
                        <td> {{ exam.id }}</td>
                        <td> {{ exam.name }}</td>
                        <td> {{ exam.code }}</td>
                        <td> {{ exam.date }}</td>
                        <td> {{ exam.department.name }}</td>
                        <td> {{ exam.room.code }}</td>
                        <td> {{ exam.subject.name }}</td>
                        <td> {{ exam.semester.name }}</td>
                        <td> {{ exam.year.name }}</td>
                        <td>
                          <a href="#" @click="editModal(exam)">
                            <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteData(exam.id)">
                            <i class="fa fa-trash red"></i>
                          </a>
                          </td>
                      </tr>
                      <tr v-show="!exams.length">
                      <td colspan="6">
                          <div class="alert alert-danger" role="alert">
                              Sorry :( No data found.
                          </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  
                  <pagination v-if="pagination.last_page > 1"
                    :pagination="pagination"
                    :offset="5"
                    @paginate="query === '' ? getData() : searchData()"
                  ></pagination>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="addnewCenter" tabindex="-1" role="dialog" aria-labelledby="addnewCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New Exam</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Exam Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @submit.prevent="editmode ? updateData() : createData()">
                    <div class="modal-body">
                    
                        <div class="form-group">
                            <input v-model="form.name" type="text" name="name"
                            placeholder="name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>

                        <div class="form-group">
                            <input v-model="form.code" type="text" name="code"
                            placeholder="code"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('code') }">
                            <has-error :form="form" field="code"></has-error>
                        </div>

                        <div class="form-group">
                            <input v-model="form.date" type="text" name="date"
                            placeholder="date"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('date') }">
                            <has-error :form="form" field="date"></has-error>
                        </div>
                    <!-- <div class="form-group">
                    
                    <input v-model="form.department_id" type="text" name="department_id"
                    placeholder="department_id"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('department_id') }">
                    <has-error :form="form" field="department_id"></has-error>
                    </div> -->

                    <div class="form-group">
                        <select name="department_id" v-model="form.department_id" id="department_id" class="form-control"
                        :class="{'is-invalid': form.errors.has('department_id') }">
                        <option disabled value="">Select Department</option>  
                        <option v-for="department in departments" :key="department.id" :value="department.id">{{department.name}}</option>
                        </select> 
                        <has-error :form="form" field="department_id"></has-error>
                    </div>

                    <div class="form-group">
                        <select name="room_id" v-model="form.room_id" id="room_id" class="form-control"
                        :class="{'is-invalid': form.errors.has('room_id') }">
                        <option disabled value="">Select Room</option>  
                        <option v-for="room in rooms" :key="room.id" :value="room.id">{{room.code}}</option>
                        </select> 
                        <has-error :form="form" field="room_id"></has-error>
                    </div>

                    <div class="form-group">
                        <select name="subject_id" v-model="form.subject_id" id="subject_id" class="form-control"
                        :class="{'is-invalid': form.errors.has('subject_id') }">
                        <option disabled value="">Select Subject</option>  
                        <option v-for="subject in subjects" :key="subject.id" :value="subject.id">{{subject.name}}</option>
                        </select> 
                        <has-error :form="form" field="subject_id"></has-error>
                    </div>

                    <div class="form-group">
                        <select name="section_id" v-model="form.section_id" id="section_id" class="form-control"
                        :class="{'is-invalid': form.errors.has('section_id') }">
                        <option disabled value="">Select Section</option>  
                        <option v-for="section in sections" :key="section.id" :value="section.id">{{section.name}}</option>
                        </select> 
                        <has-error :form="form" field="section_id"></has-error>
                    </div>

                    <div class="form-group">
                        <select name="semester_id" v-model="form.semester_id" id="semester_id" class="form-control"
                        :class="{'is-invalid': form.errors.has('semester_id') }">
                        <option disabled value="">Select Semester</option>  
                        <option v-for="semester in semesters" :key="semester.id" :value="semester.id">{{semester.name}}</option>
                        </select> 
                        <has-error :form="form" field="semester_id"></has-error>
                    </div>

                    <div class="form-group">
                        <select name="year_id" v-model="form.year_id" id="year_id" class="form-control"
                        :class="{'is-invalid': form.errors.has('year_id') }">
                        <option disabled value="">Select Academic Year</option>  
                        <option v-for="year in years" :key="year.id" :value="year.id">{{year.name}}</option>
                        </select> 
                        <has-error :form="form" field="year_id"></has-error>
                    </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editmode" type="submit" class="btn btn-success">Update Exam Info</button>
                        <button v-show="!editmode" type="submit" class="btn btn-success">Create Exam</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      data(){
          return{
            query: '',
            query_field:'name',
            editmode: false,
            exams: {},
            departments: {},
            rooms: {},
            sections: {},
            semesters: {},
            years: {},
            subjects: {},
           
            form: new Form({
                id:'',
                name:'',
                code:'',
                date:'',
                department_id:'',
                room_id:'',
                section_id:'',
                semester_id:'',
                year_id:'',
                subject_id:'',
            }),
            pagination:{
              current_page: 1,
            }
          }
      },
      watch: {
        query:function (newQ, old) {
            if (newQ === '') {
                this.getData()
            } else {
                this.searchData()
            }
        }  
      },
      methods:{
        // loadUser(){
        //   axios.get("api/subject").then(({data})=>(this.subjects=data.data));
        // },
        getData(){
          // axios.get("api/subject").then(({data})=>(this.subjects=data.data));
            this.$Progress.start()
            axios.get('api/exam?page='+this.pagination.current_page)
                .then(response => {
                    this.exams = response.data.data
                    this.pagination = response.data.meta
                    this.$Progress.finish()
                })
                .catch(e => {
                    console.log(e)
                    this.$Progress.fail()
                })
        },
        searchData(){
            this.$Progress.start()
            // axios.get('/api/search/subject/'+this.queryFiled+'/'+this.query+'?page='+this.pagination.current_page)
          axios.get('/api/search/exam/'+this.query_field+'/'+this.query)

                .then(response => {
                    this.exams = response.data.data
                    // this.pagination = response.data.meta
                    this.$Progress.finish()
                })
                .catch(e => {
                    console.log(e)
                    this.$Progress.fail()
                })
        },
        createData(){
          this.$Progress.start();
          this.form.post('api/exam')
          .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addnewCenter').modal('hide')

                    toast({
                        type: 'success',
                        title: 'Exam Created successfully'
                        })
                    this.$Progress.finish();

                })
                 .catch(()=>{
                   this.$Progress.fail();

                })
        },

         updateData(){
                this.$Progress.start();
                // console.log('Editing data');
                this.form.put('api/exam/'+this.form.id)
                .then(() => {
                    // success
                    $('#addnewCenter').modal('hide');
                     swal(
                        'Updated!',
                        'Information has been updated.',
                        'success'
                        )
                        this.$Progress.finish();
                        Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                });

            },

        editModal(exam){
          this.editmode = true;
          this.form.reset();
          axios.get('api/department').then(({data})=>(this.departments=data.data))
          axios.get('api/room').then(({data})=>(this.rooms=data.data))
          axios.get('api/subject').then(({data})=>(this.subjects=data.data))
          axios.get('api/section').then(({data})=>(this.sections=data.data))
          axios.get('api/semester').then(({data})=>(this.semesters=data.data))
          axios.get('api/year').then(({data})=>(this.years=data.data))
          $('#addnewCenter').modal('show');
          this.form.fill(exam);                       
        },

        newModal(){
          this.editmode = false;
          this.form.reset();
          axios.get('api/department').then(({data})=>(this.departments=data.data))
          axios.get('api/room').then(({data})=>(this.rooms=data.data))
          axios.get('api/subject').then(({data})=>(this.subjects=data.data))
          axios.get('api/section').then(({data})=>(this.sections=data.data))
          axios.get('api/semester').then(({data})=>(this.semesters=data.data))
          axios.get('api/year').then(({data})=>(this.years=data.data))

          $('#addnewCenter').modal('show');
        },    

        deleteData(id){
          swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
                              // Send request to the server
                              this.form.delete('api/exam/'+id).then(()=>{
                                swal(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                                )   
                                Fire.$emit('AfterCreate');  
                              }).catch(()=> {
                                  swal("Failed!", "There was something wronge.", "warning");
                              });                                
          })
        },
      },

      created(){
        // this.loadUser();
        this.getData();
        Fire.$on('AfterCreate',() => {
              // this.loadUser();
              this.getData();
        });
      },
        mounted() {
            // this.getData();
        }
    }
</script>
